* {
    box-sizing: border-box; 
}

.navbar{
    color: white;
    margin-bottom: 2rem;
}

.navbar-brand {
    font-size: 2rem;
}

button {
    margin: .25rem;
}

.container {
    margin: auto;
}

.gif-div {
    margin-bottom: .25rem;
    border: 1px solid darkgray;
}

#gif-show{
    margin: auto;
    text-align: center;
}

body {
    background-image: url("../bgimg.png");
    background-size: auto;
    font-family: 'Philosopher', serif;
}